<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 添加网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.BLE"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".WebSocketActivity"
            android:exported="false"
            android:label="WenSocket客户端测试" />
        <activity
            android:name=".SocketActivity"
            android:exported="false"
            android:label="TCP客户端测试" />
        <activity
            android:name=".NetworkMapActivity"
            android:exported="false"
            android:label="网络监控" />
        <activity
            android:name=".BluetoothActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".BluetoothActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="原神">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>